[submodule "External/assimp"]
	path = External/assimp
	url = https://github.com/assimp/assimp
[submodule "External/efsw"]
	path = External/efsw
	url = https://github.com/SpartanJ/efsw.git
[submodule "External/entt"]
	path = External/entt
	url = https://github.com/skypjack/entt.git
[submodule "External/glfw"]
	path = External/glfw
	url = https://github.com/glfw/glfw.git
